CRON_SCHEDULE=*/30 * * * * *
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=trading_insights
DB_SYNC=true
DB_LOGGING=false
CACHE_TTL_SECONDS=3600
TAPTOOLS_API_KEY=
GCP_PROJECT_ID=
OHLC_INTERVAL=4h
OHLC_NUM_OF_INTERVALS=126
MAX_TOKENS_TO_ANALYZE=1
USE_STATIC_DATA=true
GOOGLE_APPLICATION_CREDENTIALS=src/services/llm/providers/gcp/gcp-service-account.json
INTERNAL_API_SECRET=A_SECURE_SECRET

